In [2]:
import pandas as pd
import numpy as np
from sklearn.covariance import EmpiricalCovariance

In [47]:
x = np.array([[1,2,3,4,5],[2,3,4,5,6]]).T

In [35]:
x[:,0] = x[:,0] - 3
x[:,1] = x[:,1] - 4

In [48]:
x

array([[1, 2],
       [2, 3],
       [3, 4],
       [4, 5],
       [5, 6]])

In [49]:
ecov = EmpiricalCovariance(assume_centered=True)

In [50]:
ecov.fit(x)

EmpiricalCovariance(assume_centered=True)

In [51]:
ecov.covariance_

array([[11., 14.],
       [14., 18.]])

In [52]:
## mean of feat 1 : 3
## mean of feat 2 : 4

covxx = ((x[:,0])**2).sum()/x.shape[0]
covxx

11.0

In [53]:
covyy = ((x[:,1])**2).sum()/x.shape[0]
covyy

18.0

In [54]:
covxy = covyx = ((x[:,0])*(x[:,1])).sum()/x.shape[0]
covxy

14.0

In [49]:
path = "Data/"

df = pd.read_csv(path + "CollegeMsg.txt", sep=" ", header=None, names=["i", "j", "time"])

In [50]:
df["normalised_time"] = df["time"] - df["time"].min()

In [51]:
df["time_gap"] = df["normalised_time"] - df["normalised_time"].shift(1)
df

          i     j        time  normalised_time  time_gap
0         1     2  1082040961                0       NaN
1         3     4  1082155839           114878  114878.0
2         5     2  1082414391           373430  258552.0
3         6     7  1082439619           398658   25228.0
4         8     7  1082439756           398795     137.0
...     ...   ...         ...              ...       ...
59830  1899  1847  1098776648         16735687     175.0
59831  1899  1097  1098776836         16735875     188.0
59832  1899   277  1098777003         16736042     167.0
59833  1878  1624  1098777111         16736150     108.0
59834  1878  1624  1098777142         16736181      31.0

[59835 rows x 5 columns]

In [56]:
df["i"].value_counts()

9       1091
323     1012
12       993
103      739
105      686
        ...
580        1
461        1
226        1
86         1
1259       1
Name: i, Length: 1350, dtype: int64

In [75]:
x = list(df["i"].value_counts())
ind = list(df["i"].value_counts().index)

one_occ = set()

for i in range(len(x)):
    if x[i] < 10:
        one_occ.add(ind[i])

In [76]:
x = list(df["j"].value_counts())
ind = list(df["j"].value_counts().index)

one_occ_2 = set()

for i in range(len(x)):
    if x[i] < 10:
        one_occ_2.add(ind[i])

In [77]:
small_nodes = one_occ_2.union(one_occ)

In [78]:
len(small_nodes)

1152

In [81]:
shrunk_df = df.loc[(df["i"].isin(small_nodes) == False) & (df["j"].isin(small_nodes) == False), :]
shrunk_df

          i     j        time  normalised_time  time_gap
0         1     2  1082040961                0       NaN
39       41    42  1082574211           533250   32769.0
48       36    50  1082597715           556754    1160.0
49       44    51  1082597751           556790      36.0
50       32    52  1082598056           557095     305.0
...     ...   ...         ...              ...       ...
59829  1899   311  1098776473         16735512     219.0
59831  1899  1097  1098776836         16735875     188.0
59832  1899   277  1098777003         16736042     167.0
59833  1878  1624  1098777111         16736150     108.0
59834  1878  1624  1098777142         16736181      31.0

[52196 rows x 5 columns]

In [86]:
unqs = list(set(shrunk_df["i"]).union(set(shrunk_df["j"])))

In [87]:
len(unqs)

747

In [88]:
new_idcs = range(len(unqs))

In [89]:
mapping = {unqs[i] : new_idcs[i] for i in range(len(unqs))}

In [90]:
shrunk_df["i"] = shrunk_df["i"].apply(lambda x : mapping[x])
shrunk_df["j"] = shrunk_df["j"].apply(lambda x : mapping[x])

/Users/yuwei-1/anaconda3/envs/tick/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/yuwei-1/anaconda3/envs/tick/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
shrunk_df

         i    j        time  normalised_time  time_gap
0        0    1  1082040961                0       NaN
39      16   17  1082574211           533250   32769.0
48      14   20  1082597715           556754    1160.0
49      18   21  1082597751           556790      36.0
50      12   22  1082598056           557095     305.0
...    ...  ...         ...              ...       ...
59829  746  142  1098776473         16735512     219.0
59831  746  524  1098776836         16735875     188.0
59832  746  121  1098777003         16736042     167.0
59833  744  695  1098777111         16736150     108.0
59834  744  695  1098777142         16736181      31.0

[52196 rows x 5 columns]

In [103]:
ind = shrunk_df[["i", "j"]].value_counts().index
vals = shrunk_df[["i", "j"]].value_counts()

In [109]:
small_interactions = ind[vals < 100]

In [112]:
shrunk_df[small_interactions]

KeyError: "None of [MultiIndex([( 15, 240),\n            (695, 542),\n            (542, 695),\n            (  6, 531),\n            (  5, 287),\n            (201, 695),\n            (153, 134),\n            (  6, 602),\n            (602,   6),\n            (153, 164),\n            ...\n            (256, 322),\n            (256, 681),\n            (257, 541),\n            (256, 715),\n            (257,  50),\n            (257, 164),\n            (257, 186),\n            (257, 293),\n            (257, 359),\n            (746, 733)],\n           names=['i', 'j'], length=15345)] are in the [columns]"

In [92]:
## divide up time into components so less memory needed

time_interval = shrunk_df["normalised_time"].max()/100

In [96]:
for i in np.linspace(0, shrunk_df["normalised_time"].max(), 100):
    print(i)

0.0
169052.33333333334
338104.6666666667
507157.0
676209.3333333334
845261.6666666667
1014314.0
1183366.3333333335
1352418.6666666667
1521471.0
1690523.3333333335
1859575.6666666667
2028628.0
2197680.3333333335
2366732.666666667
2535785.0
2704837.3333333335
2873889.666666667
3042942.0
3211994.3333333335
3381046.666666667
3550099.0
3719151.3333333335
3888203.666666667
4057256.0
4226308.333333334
4395360.666666667
4564413.0
4733465.333333334
4902517.666666667
5071570.0
5240622.333333334
5409674.666666667
5578727.0
5747779.333333334
5916831.666666667
6085884.0
6254936.333333334
6423988.666666667
6593041.0
6762093.333333334
6931145.666666667
7100198.0
7269250.333333334
7438302.666666667
7607355.0
7776407.333333334
7945459.666666667
8114512.0
8283564.333333334
8452616.666666668
8621669.0
8790721.333333334
8959773.666666668
9128826.0
9297878.333333334
9466930.666666668
9635983.0
9805035.333333334
9974087.666666668
10143140.0
10312192.333333334
10481244.666666668
10650297.0
10819349.333333334
10988401.666666668
11157454.0
11326506.333333334
11495558.666666668
11664611.0
11833663.333333334
12002715.666666668
12171768.0
12340820.333333334
12509872.666666668
12678925.0
12847977.333333334
13017029.666666668
13186082.0
13355134.333333334
13524186.666666668
13693239.0
13862291.333333334
14031343.666666668
14200396.0
14369448.333333334
14538500.666666668
14707553.0
14876605.333333334
15045657.666666668
15214710.0
15383762.333333334
15552814.666666668
15721867.0
15890919.333333334
16059971.666666668
16229024.0
16398076.333333334
16567128.666666668
16736181.0

In [100]:
shrunk_df[(shrunk_df["j"] == 0) & (shrunk_df["i"] == 1)]

Empty DataFrame
Columns: [i, j, time, normalised_time, time_gap]
Index: []